@model EquipoIndexViewModel

@{
    ViewData["Title"] = "EquipoIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administracion de Equipos</h1>

<p>
    <a class="btn btn-outline-danger col-12" btn-outline-secondary col-12" btn-success" asp-action="Create"><i class="fa-solid fa-circle-plus me-2"></i>Crear Nuevo Equipo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Descripcion</th>
            <th>Ram</th>
            <th>Disco</th>
            <th>Marca</th>
            <th>Clase</th>
            <th>Linea</th>
            <th>Procesador</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Equipos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clase.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Linea.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Procesador.Name)
            </td>
            <td class="text-center">
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square me-2 text-danger"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info me-2 text-danger"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash me-2 text-danger"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<nav class="row">
  <ul class="pagination justify-content-center">
       
    @for (var i = 1; i < Model.cantidadPaginas + 1; i++)
    {
        <li class="page-item"><a class="page-link" asp-action="EquipoIndex"
            asp-route-numPage="@i">@i</a>
            </li>
    }
    @*<li class="page-item">
        <a class="page-link" asp-action="EquipoIndex" 
        asp-route-numPage="@(Model.numPage + 1)">Next</a>
    </li>*@
  </ul>
</nav>
